# configuration for the system

# 配置芯片Id号，用npu-smi info 指令查看机器芯片列表
stream.deviceId = 0
# 需要拉取的视频流数
stream.channelCount = 1

stream.fpsMode = 1

stream.resizeWidth = 352
stream.resizeHeight = 288

# 配置视频格式
VideoDecoder.inputVideoFormat = H264
VideoDecoder.outputImageFormat = YUV420SP_NV21

VideoEncoder.inputFormat = YUV420SP_NV21
VideoEncoder.outputFormat = H264
VideoEncoder.iamgeWidth = 352
VideoEncoder.imageHeight = 288
VideoEncoder.fpsMode = 1
VideoEncoder.iFrameInterval = 30

# rtsp流地址
stream.ch0 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch1 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch2 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch3 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch4 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch5 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch6 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch7 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch8 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch9 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264
stream.ch10 = rtsp://xxx.xxx.xxx.xxx:xxx/xxx.264