aipp_op{
    aipp_mode : static
    input_format : YUV420SP_U8

    src_image_size_w : 800
    src_image_size_h : 288


    crop: false
    crop_size_w : 800
    crop_size_h : 288

    csc_switch : true
    rbuv_swap_switch : true

    # 色域转换
    matrix_r0c0 : 256
    matrix_r0c1 : 454
    matrix_r0c2 : 0
    matrix_r1c0 : 256
    matrix_r1c1 : -88
    matrix_r1c2 : -183
    matrix_r2c0 : 256
    matrix_r2c1 : 0
    matrix_r2c2 : 359
    input_bias_0 : 0
    input_bias_1 : 128
    input_bias_2 : 128


    # 均值归一化pixel_out_chx(i) = [pixel_in_chx(i) – mean_chn_i – min_chn_i] * var_reci_chn

    #mean_chn_0 : 103
    #mean_chn_1 : 116
    #mean_chn_2 : 123
    min_chn_0 : 103.53
    min_chn_1 : 116.28
    min_chn_2 : 123.67

    var_reci_chn_0 : 0.0174291
    var_reci_chn_1 : 0.0175070
    var_reci_chn_2 : 0.0171247
    }

